<section class="about" fxLayout fxLayoutAlign="center">
    <mat-card fxFlex="512px" fxFlex.xs="100%">
        <mat-card-title>About Us</mat-card-title>
        <mat-card-content>
            <mat-list>
                <mat-list-item>
                    <mat-card-header>
                        <div mat-card-avatar class="example-header-image">
                            <img matListAvatar src="assets/avatar/mario.jpg" alt="Mario">
                        </div>
                        <mat-card-title>Mario Tatangelo</mat-card-title>
                        <mat-card-subtitle>Ideator</mat-card-subtitle>
                    </mat-card-header>
                </mat-list-item>
                <mat-list-item>
                    <mat-card-header>
                        <div mat-card-avatar class="example-header-image">
                            <img matListAvatar src="assets/avatar/giosue.jpg" alt="Giosuè">
                        </div>
                        <mat-card-title>Giosuè Lo Bosco</mat-card-title>
                        <mat-card-subtitle>Researcher</mat-card-subtitle>
                    </mat-card-header>
                </mat-list-item>
                <mat-list-item>
                    <mat-card-header>
                        <div mat-card-avatar class="example-header-image">
                            <img matListAvatar src="assets/avatar/maurizio.jpg" alt="Maurizio">
                        </div>
                        <mat-card-title>Maurizio La Rocca</mat-card-title>
                        <mat-card-subtitle>Developer</mat-card-subtitle>
                    </mat-card-header>
                </mat-list-item>
                <mat-divider></mat-divider>
            </mat-list>
        </mat-card-content>
    </mat-card>
</section>
