<div class="home" fxLayout="column" fxLayout.gt-md="row" fxLayoutGap.gt-md="10px" fxLayoutAlign="center center">
    <section>
        <h3>Benvenuto nella nostra app</h3>
        <p>Mario, spiegare qui brevemente cosa permette di fare l'applicazione. Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nobis suscipit dolores voluptatem laboriosam! Dignissimos debitis optio molestiae earum magni impedit quo ipsa quas. Harum praesentium ipsum iure perferendis, ullam rerum.</p>
    </section>

    <p><button type="submit" routerLink="/map" mat-raised-button color="primary">Frutta vicino a me</button></p>
    <p><button type="submit" routerLink="/map" mat-raised-button color="primary">Verdura vicino a me</button></p>
    <p><button type="submit" routerLink="/map" mat-raised-button color="primary">Pescato vicino a me</button></p>
    <p><button type="submit" routerLink="/map" mat-raised-button color="primary">Dove comprare</button></p>
</div>