<div class="home" fxLayout="column" fxLayout.gt-md="row" fxLayoutGap.gt-md="10px" fxLayoutAlign="center center">
    <section>
        <p>Ballarò, il mercato storico di Palermo sempre vicino a te. </p>
        <p>Scopri cosa ti offrono le campagne nei dintorni, i porti più vicini e trova il mercato giusto</p>
    </section>

    <p><button type="submit" routerLink="/crops" mat-raised-button>
        <img src="assets/grafica/frutta.png" alt="Frutta">
    </button></p>
    <p><button type="submit" routerLink="/map" mat-raised-button (click)="goToPortiMap()">
        <img src="assets/grafica/pescato.png" alt="Pescato">
    </button></p>
    <p><button type="submit" routerLink="/map" mat-raised-button (click)="goToMercatiMap()">
        <img src="assets/grafica/mercati.png" alt="Mercati">
    </button></p>
    <p><button type="submit" routerLink="/about" mat-raised-button>
        <img src="assets/grafica/chisiamo.png" alt="Chi siamo">
    </button></p>
    <p><button type="submit" routerLink="/credits" mat-raised-button>
        <img src="assets/grafica/riconoscimenti.png" alt="Riconoscimenti">
    </button></p>


    <!--
    <p>Position</p>
    <p>{{currentPosition$ | async | json}}</p>
     -->
</div>