<div class="home" fxLayout="column" fxLayout.gt-md="row" fxLayoutGap.gt-md="10px" fxLayoutAlign="center center">
    <section>
        <p>Ballarò, il mercato storico di Palermo sempre vicino a te. </p>
        <p>Scopri cosa ti offrono le campagne nei dintorni, i porti più vicini e trova il mercato giusto</p>
    </section>

    <p><button type="submit" routerLink="/crops" mat-raised-button color="primary">Frutta</button></p>
    <p><button type="submit" routerLink="/map" mat-raised-button color="primary">Pescato</button></p>
    <p><button type="submit" routerLink="/map" mat-raised-button color="primary">Mercati</button></p>

    <!--
    <p>Position</p>
    <p>{{currentPosition$ | async | json}}</p>
    -->
</div>