<section class="credits" fxLayout fxLayoutAlign="center">
    <mat-card fxFlex="512px" fxFlex.xs="100%">
        <mat-card-title>Acknowledgments</mat-card-title>
        <mat-card-content>
                This application has been developed within the EOVALUE project, which has received funding from the European Union’s Horizon 2020 research and innovation programme. The JRC, or as the case may be the European Commission, shall not be held liable for any direct or indirect, incidental, consequential or other damages, including but not limited to the loss of data, loss of profits, or any other financial loss arising from the use of this application, or inability to use it, even if the JRC is notified of the possibility of such damages.
        </mat-card-content>
        <img class="logo" mat-card-image src="assets/eu/EOValue_logo.jpg" alt="E0value">
        <img class="logo" mat-card-image src="assets/eu/EC_logo.jpg" alt="EC">
        <!--
        <mat-card-actions fxLayoutAlign="center">
            <button type="submit" mat-raised-button color="primary">Website</button>
        </mat-card-actions>
        -->
    </mat-card>
</section>
